<button class="btnConfigure" onclick="showConfiguration()">Configure</button>

<div id="Configure-dia">
  <label for="input">Send Alart on Following Emails</label>
  <input type="text" id="Configure-data">
  <button onclick="saveConfig()">Save</button>
</div>

<div class="overlay"></div>

<div>
  <label >Select Server 
    <div class="btnSelectServer">
      <button>Server</button>
      <div class="selectServerContent">
        <a href="#">Shantanu Server(202.22.32.44)</a>
        <a href="#">Shantanu Server(192.168.254.5)</a>
      </div>
    </div>
  </label>
</div>

<button class="btnNewAlert" onclick="showAlart()">Add new alert</button>
<div class="webServerAlart">
  <label for="">Host:-------------</label>
  Alart Type: <button>webserver</button>
  URL: <input type="text" name="" id="">
  Response: <button>Does not contain</button>
  <textarea name="" id="" cols="30" rows="10"></textarea>
  <button>Verify</button> <button>add</button>
</div>

<div class="loadAverage">
  <label >Alart Type</label>
  <div class="btnSelectServer">
    <button>Select Load</button>
    <div class="selectServerContent">
      <a href="#">Harddisk space</a>
      <a href="#">Memory Usage</a>
      <a href="#">Web Server</a>
    </div>
 </div>
 <br>
 <label >Condition</label>
  <div class="btnSelectServer">
    <button>Select condition</button>
    <div class="selectServerContent">
      <a href="#">Is More than(>)</a>
      <a href="#">Is Less than(<)</a>
      <a href="#">Is equal to(=)</a>
    </div>
 </div>
 <br>
 <label >Value</label> <input type="text">
 <button>Add</button>
</div>

<div class="overlay"></div>


<table class="serverDetailTable">
  <thead>
    <tr>
      <th>Type</th>
      <th>Condition</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody >

  </tbody>
</table>